.DropdownContainer {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start;  
    background: white;
    border-radius: 10px; 
}

#dropdown {
    background-color: #ffffff !important;
    color: black !important;
    border: none !important;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#dropdown:hover {
    /*background-color: #E0E0E0 !important;*/
    text-decoration: underline;
}
