
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../public/4b1632c512ab4328b51eb3a07ca181cb_1920x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}


.App {
    display: flex;
    flex-direction: column; /* Stacks elements vertically */
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    min-height: 100vh; /* Ensures full viewport height */
    text-align: center;
    color: white;
    padding: 20px;
}

.App h1 {
    font-weight: bold; /* Makes the text bold */
}

.dropdown-container {
    margin-bottom: 10px; 
}



.graph-container {
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    width: 1000px;
    height: 500px;
}