
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    padding: 5px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative; 
    z-index: 10;
}


.header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 10px; 
}

.logo {
    height: 40px; 
    width: auto;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: white;
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
    position: relative;
    z-index: 9;
}

.graph-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Arial, sans-serif;
    background-image: url('../public/1698062565960_how-to-start-used-car-dealership-ecarstrade-6_01HDE6N11370VNHPV3XAZETE9J.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.DropdownContainer {
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    background-color: #FFFFFF;
    color: white;
    padding: 5px 0; 
    position: relative;
    bottom: 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: black;
}

.popup-button {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.popup-button:hover {
    background-color: #00AEEF;
    color: #ffffff;
}

.popup-content {
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}
